<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  
  <classes>
  
  <class name="com.bunnycart.TestRunner.testRunner1"/>
  <class name="com.bunnycart.TestRunner.testRunner2"/>
  <class name="com.bunnycart.TestRunner.testRunner3"/>
  <class name="com.bunnycart.TestRunner.testRunner4"/>
  <class name="com.bunnycart.TestRunner.testRunner5"/>
  
  </classes>
  
   
  </test> <!-- Test -->
  
  <listeners>
<listener class-name="org.uncommons.reportng.HTMLReporter"/>
</listeners>
  
</suite> <!-- Suite -->
